{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{{ name_info.name }}</h1>
                    
                    <div class="name-details">
                        <div class="detail-item">
                            <h5>Meaning</h5>
                            <p>{{ name_info.meaning }}</p>
                        </div>
                        
                        <div class="detail-item">
                            <h5>Gender</h5>
                            <p>{{ name_info.gender }}</p>
                        </div>
                        
                        <div class="detail-item">
                            <h5>Rashi (Moon Sign)</h5>
                            <p>{{ name_info.rashi }}</p>
                        </div>
                        
                        <div class="detail-item">
                            <h5>Numerology</h5>
                            <p>{{ name_info.numerology }}</p>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{{ url_for('names_by_letter', letter=name_info.name[0].upper()) }}" class="btn btn-primary">Back to Letter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
